.recipesScreen__extend{
 
}


.addform__container__close{
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 100;
    position: fixed;
}

.addform__container{
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 100;
    position: fixed;
}

.addform__container__transparent{
    background-color: rgba($color: #1E3646, $alpha: 0.3);
    width: 68vw;
    height: 100vh;

}
.addform__container__sidebar{
    background-color: #fff;
    width: 32vw;
    height: 100vh;
    padding: 2%;


}

.addform__container__title{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    margin-bottom: 24px;

}
.addform__container__title p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.addform__container__recipename input {
    border: 2px solid #54B5BA;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 2%;
    width: 100%;
    height: 4vh;
    margin-bottom: 7%;
    outline: none;

    
}


.addform__container__preparation{
    width: 100%;
    height: 20vh;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-bottom: 7%;

}
.addform__container__preparation p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
   
}

.addform__container__preparation input{
    border: 2px solid #54B5BA;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 2%;
    width: 100%;
    height: 80%;
    outline: none;


}
.addform__container__reviews{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-bottom: 7%;

}

.addform__container__before{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-bottom: 7%;

}
.addform__container__create{
    display: flex;
    justify-content: center;
    background-color:#B2B2B3 ;
    border-radius: 2% ;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    box-shadow: 1px 2px 2px #777; 
}
.addform__container__create p{

    margin-top:3%;
    text-justify: center;
    

}

//estilos de ingredientes
.addform__container__ingredients{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20vh;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-bottom: 7%;

}
.addform__container__ingredients__listAdd{
    display:flex;
    width: 100%;
    height: 20%;
    background-color: #fff;
}

.addform__container__ingredients__listAdd__imput{
    border: 2px solid #54B5BA;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    width: 80%;
    height: 4vh;
    padding-left: 4%;
    margin-bottom: 1%;
    outline: none;

    
}

.addform__container__ingredients__listAdd__button{
    display: flex;
    align-items:center ;
    justify-content: center;
    font-size: 125%;
    color: #8DC63F;
    width: 20%;
    height: 4vh;

}


//estilos lista de recetas
.addform__container__ingredients__list{
    display:flex;
    flex-flow: column;
    width: 100%;
    height: 60%;
    overflow-y: scroll;

}

.addform__container__ingredients__list__container{
    display: flex;
    flex-flow: row;

}


.addform__container__ingredients__list__button{
    display: flex;
    align-items:center ;
    justify-content: center;
    font-size: 125%;
    color: #c20909;
    width: 20%;
    height: 4vh;

}