body{
    margin:0px;
    padding: 0px;
};

.recipes__article{
    display: flex;
    flex-flow:row ;
    width: 95vw;
}
.recipes__article__section{
    width: 95vw;
    display: flex;
    flex-flow:column ;




}
